<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask Cloudant Play</title>
</head>
<body>
    <h1>Move file</h1>
    <a href="/">home</a>
    {% if get %}
       <form action="/move" method="post">
        Source: <input type="text" name="source"/>
        Destination: <input type="text" name="destination"/>
        <button name="submit" type="submit">submit</button>
        </form>
    {% else %}
        {% if success %}
            <h3>file uploaded sucessfully!</h3>
        {% else %}
            <h3>Move failed</h3>
        {% endif %}
    {% endif %}
</body>
</html>
