<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flask S3 Play</title>
</head>
<body>
    <h1>Flask Cloudant Play</h1>
    Name:{{name}} ID:{{id}}
    <ul>
        <li><a href="/s3/uploads">upload</a></li>
        <li><a href="/s3/deletes">delete</a></li>
        <li><a href="/s3/lists">list</a></li>
        <li><a href="/s3/searchs">search</a></li>
        <li><a href="/s3/move">move</a></li>
        <li><a href="/s3/downloads">downloads</a></li>
    </ul>
</body>
</html>